* {
  margin: 0px;
  padding: 0px;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("./images/15698-1024x683.jpg") center / cover no-repeat;
  filter: blur(20px);
  transform: scale(1.2);
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url("./images/15698-1024x683.jpg") center / contain no-repeat;
  z-index: 1;
}
.hero-text {
  position: relative;
  z-index: 2; /* ВАЖНО */
  color: white;
  font-size: 40px;
  text-align: center;
}

