/* БАЗА */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}


/* BURGER */
.burger {
  width: 32px;
  height: 24px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burger span {
  width: 100%;
  height: 4px;
  background: white;
  border-radius: 5px;
}


/* NAVIGATION */
.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}


/* MOBILE */
@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .nav {
    position: absolute;
    top: 70px;
    right: 20px;

    background: rgba(0,0,0,0.9);
    padding: 20px;
    border-radius: 10px;

    display: none;
    flex-direction: column;
    gap: 15px;
  }

  .nav.active {
    display: flex;
  }
}


/* HERO */
.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: black;
}

.hero-text {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 120px;
}
.hero.red {
  background-color: red !important;
}
.color-btn {
  padding: 10px 16px;
  background: #FFD700;
  color: #000;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 15px;
  transition: 0.3s;
}

.color-btn:hover {
  background: #ffea61;
}
.content1 {
    max-width: 400px;
    width: 100%;
    margin: 50px auto;
}

.images {
}

.images img {
    width: 100%;
    border-radius: 10px;
}
.img{
  margin: 45px 0;
}


