
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}


/* BURGER */
.burger {
  width: 32px;
  height: 24px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burger span {
  width: 100%;
  height: 4px;
  background: white;
  border-radius: 5px;
}


/* NAVIGATION */
.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}


/* MOBILE */
@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .nav {
    position: absolute;
    top: 70px;
    right: 20px;

    background: rgba(0,0,0,0.9);
    padding: 20px;
    border-radius: 10px;

    display: none;
    flex-direction: column;
    gap: 15px;
  }

  .nav.active {
    display: flex;
  }
}


/* HERO */
.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: black;
}

.hero-text {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 120px;
}
.hero.red {
  background-color: red !important;
}
.color-btn {
  padding: 10px 16px;
  background: #FFD700;
  color: #000;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 15px;
  transition: 0.3s;
}

.color-btn:hover {
  background: #ffea61;
}
.content1 {
    max-width: 400px;
    width: 100%;
    margin: 50px auto;
}



.images img {
    width: 100%;
    border-radius: 10px;
}
.img{
  margin: 45px 0;
  padding: 0 10px;
}
.footer {
  background: #0b0b0b;
  color: #fff;
  padding: 60px 20px 20px;
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
}

.footer-brand h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

.footer-brand span {
  color: #d4af37; /* золото */
}

.footer-brand p {
  color: #aaa;
  font-size: 14px;
}

.footer-links h3,
.footer-contact h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-links a,
.footer-contact a {
  display: block;
  color: #ccc;
  text-decoration: none;
  margin-bottom: 8px;
  transition: 0.3s;
}

.footer-links a:hover,
.footer-contact a:hover {
  color: #d4af37;
}

.footer-contact p {
  color: #ccc;
  font-size: 14px;
}

.footer-bottom {
  margin-top: 40px;
  text-align: center;
  font-size: 13px;
  color: #777;
  border-top: 1px solid #222;
  padding-top: 15px;
}



